<a href="https://colab.research.google.com/github/ComputerScientist-01/ANZ-Virtual-Internship/blob/master/ANZ_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier , DecisionTreeRegressor
from sklearn.tree import plot_tree

In [4]:
from google.colab import files
uploaded = files.upload()
import io
df=pd.read_csv(io.BytesIO(uploaded["ANZ.csv"]))

Saving ANZ.csv to ANZ.csv

In [7]:
df_salaries = df[df["txn_description"]=="PAY/SALARY"].groupby("customer_id").mean()
df_salaries.head()

                card_present_flag  merchant_code       balance  age   amount
customer_id
CUS-1005756958                NaN            0.0   4718.665385   53   970.47
CUS-1117979751                NaN            0.0  11957.202857   21  3578.65
CUS-1140341822                NaN            0.0   5841.720000   28  1916.51
CUS-1147642491                NaN            0.0   8813.467692   34  1711.39
CUS-1196156254                NaN            0.0  23845.717143   34  3903.73

In [0]:
salaries = []

for customer_id in df["customer_id"]:
    salaries.append(int(df_salaries.loc[customer_id]["amount"]))
    
df["annual_salary"] = salaries

In [9]:
df_cus = df.groupby("customer_id").mean()
df_cus.head()

                card_present_flag  merchant_code  ...      amount  annual_salary
customer_id                                       ...
CUS-1005756958           0.812500            0.0  ...  222.862603            970
CUS-1117979751           0.826923            0.0  ...  339.843700           3578
CUS-1140341822           0.815385            0.0  ...  212.632500           1916
CUS-1147642491           0.750000            0.0  ...  245.600169           1711
CUS-1196156254           0.785276            0.0  ...  147.145796           3903

[5 rows x 6 columns]

In [0]:
lr=LinearRegression()

In [0]:

N_train = int(len(df_cus)*0.75)
x_train = df_cus.drop("annual_salary", axis=1).iloc[:N_train]
y_train = df_cus["annual_salary"].iloc[:N_train]
x_test = df_cus.drop("annual_salary", axis=1).iloc[N_train:]
y_test = df_cus["annual_salary"].iloc[N_train:]

In [12]:
lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_train, y_train)

0.23255533946132068

In [14]:
lr.predict(x_test)

array([2747.58159688, 2644.02793817, 2912.47869865, 2180.9844864 ,
       1654.12362756, 2016.15816775, 2909.9235597 , 1966.17940844,
       1828.57176258, 2253.3926789 , 2103.93483213, 1826.96722409,
       5445.75106637, 1929.6581435 , 2209.29054535, 1724.855757  ,
       2795.542822  , 2116.78502905, 3884.97662458, 2273.92731695,
       1806.88318638, 2116.82522057, 1526.713065  , 1808.32584381,
       2506.7668886 ])

In [15]:
lr.score(x_test, y_test)

-0.2731795814120488