<a href="https://colab.research.google.com/github/ComputerScientist-01/ANZ-Virtual-Internship/blob/master/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier , DecisionTreeRegressor
from sklearn.tree import plot_tree

In [4]:
from google.colab import files
uploaded = files.upload()
import io
df=pd.read_csv(io.BytesIO(uploaded["ANZ.csv"]))

Saving ANZ.csv to ANZ.csv

In [0]:
df_inc=df.drop_duplicates()

In [8]:
df_inc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12043 entries, 0 to 12042
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   status             12043 non-null  object
 1   card_present_flag  7717 non-null   float64
 2   bpay_biller_code   885 non-null    object
 3   account            12043 non-null  object
 4   currency           12043 non-null  object
 5   long_lat           12043 non-null  object
 6   txn_description    12043 non-null  object
 7   merchant_id        7717 non-null   object
 8   merchant_code      883 non-null    float64
 9   first_name         12043 non-null  object
 10  balance            12043 non-null  float64
 11  date               12043 non-null  object
 12  gender             12043 non-null  object
 13  age                12043 non-null  int64
 14  merchant_suburb    7717 non-null   object
 15  merchant_state     7717 non-null   object
 16  extraction         12043 non-null  object
 17  amount             12043 non-null  float64
 18  transaction_id     12043 non-null  object
 19  country            12043 non-null  object
 20  customer_id        12043 non-null  object
 21  merchant_long_lat  7717 non-null   object
 22  movement           12043 non-null  object
dtypes: float64(4), int64(1), object(18)
memory usage: 2.2+ MB

In [12]:
df_salaries = df[df["txn_description"]=="PAY/SALARY"].groupby("customer_id").mean()
df_salaries.head()

                card_present_flag  merchant_code       balance  age   amount
customer_id
CUS-1005756958                NaN            0.0   4718.665385   53   970.47
CUS-1117979751                NaN            0.0  11957.202857   21  3578.65
CUS-1140341822                NaN            0.0   5841.720000   28  1916.51
CUS-1147642491                NaN            0.0   8813.467692   34  1711.39
CUS-1196156254                NaN            0.0  23845.717143   34  3903.73

In [0]:
salaries = []

for customer_id in df["customer_id"]:
    salaries.append(int(df_salaries.loc[customer_id]["amount"]))
    
df["annual_salary"] = salaries

In [14]:
df_cus = df.groupby("customer_id").mean()
df_cus.head()

                card_present_flag  merchant_code  ...      amount  annual_salary
customer_id                                       ...
CUS-1005756958           0.812500            0.0  ...  222.862603            970
CUS-1117979751           0.826923            0.0  ...  339.843700           3578
CUS-1140341822           0.815385            0.0  ...  212.632500           1916
CUS-1147642491           0.750000            0.0  ...  245.600169           1711
CUS-1196156254           0.785276            0.0  ...  147.145796           3903

[5 rows x 6 columns]

In [0]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, df['annual_salary'], test_size = 0.2)

In [0]:
lr=LinearRegression()

ValueError: ignored

In [0]:

N_train = int(len(df_cus)*0.75)
x_train = df_cus.drop("annual_salary", axis=1).iloc[:N_train]
y_train = df_cus["annual_salary"].iloc[:N_train]
x_test = df_cus.drop("annual_salary", axis=1).iloc[N_train:]
y_test = df_cus["annual_salary"].iloc[N_train:]

In [22]:
lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_train, y_train)

0.23255533946132068

In [33]:
dtc = DecisionTreeRegressor() #max_depth is maximum number of levels in the tree
dtc.fit(x_train,y_train)
dtc.score(x_train,y_train)

1.0

In [34]:
dtc.score(x_test,y_test)

-1.6825236863527824